
#image_page_table
{

}

#image_page_table td
{

}

#image_table
{

}

#image_table td
{

}

.main_image_img
{
    margin-right: 35px;
    border:2px #ffcc99 solid;
}

#page_suggest_divider
{
    width: 35px;
}